@use "../../styles/variables.scss" as *;

.login {
  display: flex;
  height: 100vh;
}

.login-form {
  flex: 1;
  background: $dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;

  h1 {
    color: $primary;
    margin-bottom: 2rem;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    input {
      padding: 0.8rem;
      border-radius: 6px;
      border: none;
    }

    span {
      color: #ff6b6b;
      font-size: 0.75rem;
    }

    button {
      margin-top: 1rem;
      padding: 0.9rem;
      background: $primary;
      border: none;
      color: white;
      font-weight: bold;
      border-radius: 6px;
      cursor: pointer;
      background: linear-gradient(135deg, $primary, $accent);      
    }
  }
}

.login-image {
  flex: 2;
  background: url("/dragonball-login.jpg") center/cover no-repeat;
}

@media (max-width: 1000px) {
  .login-image {
    display: none;
  }
}