@use "../styles/variables.scss" as *;

.top-menu {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  background: $dark-2;
  border-bottom: 1px solid $dark-3;

  .menu-left {
    display: flex;
    gap: 1.2rem;
  }

  .menu-right {
    color: $accent;
    font-weight: bold;
  }
}

