.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-body {
  display: flex;
  margin-left: 260px; // espacio para el SideMenu
  flex: 1;
}

.dashboard-content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  
}
